# File nella root
.htaccess
.DS_Store

# File di configurazione
app/config.php

# Cartelle ignorate
/docs/
/database/
/vendor/
/node_modules/
/storage/documents/
/storage/uploads/
/app/templates/documents/receipt_template.pdf
/app/templates/documents/membership_certificate_template.docx
/app/templates/documents/membership_certificate_template.pdf
/app/templates/certificato_iscrizione.pdf
/app/templates/attestato.pdf

# Log
*.log
